
#dark{
    width: 100vw;
    background-color: var(--background-color-dark);
    color: var(--color-dark);
    transition: all 0.5s ease;
    height: 100vh;
}

#light{
    width: 100vw;
    background-color: var(--background-color);
    color: var(--color);
    transition: all 0.5s ease;
}

#dark .main-area{
    background-color: var(--background-color-dark);
}

#light .main-area{
    background-color: var(--background-color);
}

#light .theme{
    background-image: var(--toggler-img);
}

#dark .theme{
    background-image: var(--toggler-img-dark);
}


#dark .header-section{
    background-color: rgb(28, 19, 19);
}

#light .header-section{
    background-color: antiquewhite;
}

#light .answer{
    background-color: antiquewhite;
}

#dark .answer{
    background-color: rgb(28, 19, 19);
}

#light .textarea{
    color: black;
}

#light .inputarea{
    background-color: white;
}

#dark .inputarea{
    background-color: black;
}

#light .info{
    background-color: white;
}

#dark .info{
    background-color: black;
}
