:root{
    --background-color-dark : black;
    --color-dark: white;
    --toggler-img-dark: url('https://webst-images.s3.eu-north-1.amazonaws.com/icons8-light.gif');
    --background-color: white;
    --color: black;
    --toggler-img: url('https://webst-images.s3.eu-north-1.amazonaws.com/icons8-dark-mode-30.png');
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}


